canvas {
  border: 2px solid red;
  margin-top: 100px;
}

.score {
  border: 2px, red;
}

#title {
  transform-style: preserve-3d;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
  line-height: 70px;
}

#center {
  transform-style: preserve-3d;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}