canvas {
  border: 2px solid red;
  margin-top: 30px;
}

.score {
  border: 2px, red;
}

#title {
  text-align: center;
  font-size: 70px;
}

#center {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#operator, #score{
  margin-left: 100px;
  padding-top: 100px;
}